function dip() {
    docker ps --format "{{.ID}}" | while read -r line ; do
        echo $line $(docker inspect --format '{{ .Name }} - {{range .NetworkSettings.Networks}}{{.IPAddress}} {{end}}' $line) : $(docker port "$line" | grep -o "0.0.0.0:.*" | cut -f2 -d:)
    done
}

function dphp() {
	docker-compose exec --user www-data web php $@
}

function dxphp() {
	CONTAINER_ID=`docker-compose ps -q web`

	REMOTE_HOST=`docker inspect --format '{{range .NetworkSettings.Networks}}{{.Gateway}}{{end}}' "$CONTAINER_ID"`

	docker-compose exec --user www-data web php -dzend_extension=xdebug -dxdebug.remote_host="$REMOTE_HOST" -dxdebug.idekey="PHPSTORM" $@
}

