#!/bin/sh

{{ if eq .osid "linux-debian" }}
# Debian-specific code
{{ else if eq .osid "linux-manjaro" }}

sudo pacman -S \
	fish \
	micro \
	lsd \
	fzf \
	fd \
	bat \
	broot \
	ripgrep \
	lfs \
	procs \
	atuin \
	tealdeer \
	curlie \
	xh \
	go-yq \
	jq \
	skim \
	jless \
	git-delta \
	git-filter-repo \
	starship \
	ttf-jetbrains-mono \
	snapd

yay -S \
	aur/zenith-bin \
	aur/fnm-bin

sudo systemctl enable --now snapd.socket
sudo ln -sf /var/lib/snapd/snap /snap
sudo snap install code --classic

{{ end }}

#fish <<'END_FISH'
#	curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source 
#	fisher install jorgebucaran/fisher
#	fisher install PatrickF1/fzf.fish
#END_FISH
